<?xml version="1.0" encoding="UTF-8"?>
<!--***********************************
* @Copyright : nuritelecom
* @ProjectName : nuri-aimir-etk
* @FileName : MeterMapper.xml
* @Author : jhdang
* @Date : 2020-10
************************************-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nuri.etk.store.mapper.ChargeHistoryMapper">

    <sql id="base_where_list">
        <where>
            <if test="meterId != null" >
                AND METER.MDS_ID = #{meterId}
            </if>
        </where>
    </sql>

   <!-- <sql id="pagingHeaderSql">
        SELECT   T.*
        FROM   (SELECT   ROWNUM AS RNUM, A.*
        FROM   (
    </sql>

    <sql id="pagingFooterSql">
        ) A) T
        WHERE   T.RNUM BETWEEN ( NVL(#{ROWCOUNT}, 10) * NVL(#{CURRENTPAGE}, 1) ) - ( NVL(#{ROWCOUNT},10)-1 ) AND (NVL(#{ROWCOUNT}, 10) * NVL (#{CURRENTPAGE}, 1))
    </sql>-->

    <select id="chargeLast" resultType="paymentInfoJpo" parameterType="java.lang.String">
        SELECT
            METER.MDS_ID AS meterId
            , PREPAY.LASTTOKENDATE AS "date"
            , CASE WHEN PAYTYPE.NAME = 'Cash' THEN 'Vending Station'
                    WHEN PAYTYPE.NAME = 'Cheque' THEN 'Vending Station'
                    WHEN PAYTYPE.NAME = 'Card' THEN 'Vending Station'
                    WHEN PAYTYPE.NAME = 'Mobile' THEN 'Mobile Money'
                    ELSE 'Unknown'
            END AS interfaceType
            , PREPAY.CHARGEDARREARS + PREPAY.CHARGEDCREDIT + DEBT.CHARGEDDEBT AS paidAmount
            , PREPAY.CHARGEDCREDIT AS chargedAmount
            , PREPAY.PRE_BALANCE AS beforeBalance
            , PREPAY.BALANCE AS currentBalance
            , PREPAY.LASTTOKENID AS chargeId
            , PREPAY.DAYS_FROM_CHARGE AS daysFromLastCharge
            , PREPAY.ID AS receiptNo
            , OP.NAME AS vendorName
            , PAYTYPE.DESCR AS paymentType
            , 'GHC' as creditUnit
            , PREPAY.TOKEN AS token
            , PREPAY.CANCEL_TOKEN AS cancelToken
            , PREPAY.CANCEL_DATE AS cancelDate
            , PREPAY.CHARGEDARREARS AS chargedArrears
            , DEBT.CHARGEDDEBT AS chargedDebt
        FROM
            CONTRACT CONT
            LEFT OUTER JOIN METER METER ON CONT.METER_ID = METER.ID
            LEFT OUTER JOIN PREPAYMENTLOG PREPAY ON PREPAY.CONTRACT_ID = CONT.ID
            LEFT OUTER JOIN DEBTLOG DEBT ON PREPAY.ID = DEBT.PREPAYMENTLOG_ID
            LEFT OUTER JOIN OPERATOR OP ON PREPAY.OPERATOR_ID = OP.ID
            LEFT OUTER JOIN CODE PAYTYPE ON PREPAY.PAY_TYPE_CODE = PAYTYPE.ID
        <include refid="base_where_list" />
    </select>
</mapper>