<?xml version="1.0" encoding="UTF-8"?>
<!--***********************************
* @Copyright : nuritelecom
* @ProjectName : nuri-aimir-etk
* @FileName : CustomerMapper.xml
* @Author : jhdang
* @Date : 2020-10
************************************-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nuri.etk.store.mapper.CustomerMapper">

    <sql id="base_where_list">
        <where>
            <if test="customerNo != null" >
                AND cust.CUSTOMERNO = #{customerNo}
            </if>
        </where>
    </sql>

    <select id="getCustomerByNo" resultType="customerJpo" parameterType="java.lang.String">
        SELECT
            cust.customerNo AS customerId
            , device.name AS meterModel
            , MODEM.DEVICE_SERIAL AS modemId
            , cont.contract_Number AS geocode
        FROM
            Contract cont
            LEFT OUTER JOIN Customer cust on cont.CUSTOMER_ID = cust.id
            LEFT OUTER JOIN Meter meter on cont.meter_id = meter.id
            LEFT OUTER JOIN DEVICEMODEL device on meter.DEVICEMODEL_ID = device.id
            LEFT OUTER JOIN Modem modem on meter.modem_id = modem.id
        <include refid="base_where_list" />
    </select>
</mapper>