<?xml version="1.0" encoding="UTF-8"?>
<!--***********************************
* @Copyright : nuritelecom
* @ProjectName : nuri-aimir-etk
* @FileName : CustomerMapper.xml
* @Author : jhdang
* @Date : 2020-10
************************************-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nuri.etk.store.mapper.CustomerMapper">

    <sql id="base_where_list">
        <where>
            <if test="customerNo != null" >
                AND CUST.CUSTOMERNO = #{customerNo}
            </if>
        </where>
    </sql>

    <select id="getCustomerByNo" resultType="customerJpo" parameterType="java.lang.String">
        SELECT
            CUST.CUSTOMERNO AS CUSTOMERID
            , DEVICE.NAME AS METERMODEL
            , MODEM.DEVICE_SERIAL AS MODEMID
            , CONT.CONTRACT_NUMBER AS GEOCODE
        FROM
            CONTRACT CONT
            LEFT OUTER JOIN CUSTOMER CUST ON CONT.CUSTOMER_ID = CUST.ID
            LEFT OUTER JOIN METER METER ON CONT.METER_ID = METER.ID
            LEFT OUTER JOIN DEVICEMODEL DEVICE ON METER.DEVICEMODEL_ID = DEVICE.ID
            LEFT OUTER JOIN MODEM MODEM ON METER.MODEM_ID = MODEM.ID
        <include refid="base_where_list" />
    </select>

    <select id="getCustomerByMeter" resultType="meterSerialJpo" parameterType="java.lang.String">
        SELECT
            METER.MDS_ID as METERID
        FROM
            CONTRACT CONT
            LEFT OUTER JOIN CUSTOMER CUST ON CONT.CUSTOMER_ID = CUST.ID
            LEFT OUTER JOIN METER METER ON CONT.METER_ID = METER.ID
        <include refid="base_where_list" />
    </select>
</mapper>