<?xml version="1.0" encoding="UTF-8"?>
<!--***********************************
* @Copyright : nuritelecom
* @ProjectName : nuri-aimir-etk
* @FileName : MeterMapper.xml
* @Author : jhdang
* @Date : 2020-10
************************************-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nuri.etk.store.mapper.DebtMapper">

    <sql id="base_where_list">
        <where>
            <if test="customerNo != null" >
                AND CUST.CUSTOMERNO = #{customerNo}
            </if>
        </where>
    </sql>

    <select id="getDebtInfo" resultType="debtInfoJpo" parameterType="java.lang.String">
        SELECT
            DEBT.DEBT_REF as debtRef
            , CUST.CUSTOMERNO as customerId
            , DEBT.INSTALLMENT_DUE_DATE as installmentDueDate
            , DEBT.DEBT_STATUS as debtStatus
            , DEBT.DEBT_TYPE as debtType
            , DEBT.DEBT_AMOUNT as debtAmount
        FROM
            CONTRACT CONT
            LEFT OUTER JOIN CUSTOMER CUST ON CONT.CUSTOMER_ID = CUST.ID
            LEFT OUTER JOIN WS_CMS_DEBTENT DEBT ON DEBT.CUSTOMER_ID = CUST.CUSTOMERNO
            LEFT OUTER JOIN METER METER ON CONT.METER_ID = METER.ID
            LEFT OUTER JOIN DEVICEMODEL DEVICE ON METER.DEVICEMODEL_ID = DEVICE.ID
            LEFT OUTER JOIN MODEM MODEM ON METER.MODEM_ID = MODEM.ID
        <include refid="base_where_list" />
        ORDER BY LASTTOKENDATE DESC
    </select>

    <select id="getDebtArrears" resultType="java.lang.String" parameterType="java.lang.String">
        SELECT * FROM
            (SELECT
                CONT.CURRENTARREARS as arrears
            FROM
                CONTRACT CONT
                LEFT OUTER JOIN CUSTOMER CUST ON CONT.CUSTOMER_ID = CUST.ID
            WHERE
        <include refid="base_where_list" />
            ORDER BY LASTTOKENDATE DESC)
        WHERE ROWNUM = 1
    </select>
</mapper>