<?xml version="1.0" encoding="UTF-8"?>
<!--***********************************
* @Copyright : nuritelecom
* @ProjectName : nuri-aimir-etk
* @FileName : MeterMapper.xml
* @Author : jhdang
* @Date : 2020-10
************************************-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nuri.etk.store.mapper.MeterMapper">

    <sql id="base_where_list">
        <where>
            <if test="meterId != null" >
                AND METER.MDS_ID = #{meterId}
            </if>
        </where>
    </sql>

    <select id="getMeterInfo" resultType="meterJpo" parameterType="java.lang.String">
        SELECT
            meter.MDS_ID AS meterId
            , cust.customerNo AS customerId
            , cust.name AS customerName
            , cont.contract_Number AS geocode
            , cust.address2 AS address
            , cont.lastTokenDate AS lastChargeDate
            , stat.descr AS supplyState
            , cont.currentCredit AS credit
            , cont.currentArrears AS arrears
            , debt.amount AS debtTotal
        FROM
            Contract cont
            LEFT OUTER JOIN Customer cust on cont.CUSTOMER_ID = cust.id
            LEFT OUTER JOIN (select customer_id,sum(debt_amount) as amount from WS_CMS_DEBTENT where debt_status != 'CANCEL' group by customer_id) debt on cust.customerNo = debt.customer_id
            LEFT OUTER JOIN Meter meter on cont.meter_id = meter.id
            LEFT OUTER JOIN Modem modem on meter.modem_id = modem.id
            LEFT OUTER JOIN Mcu mcu on modem.mcu_id = mcu.id
            LEFT OUTER JOIN Code stat on cont.status_id = stat.id
            LEFT OUTER JOIN Code credit on cont.credittype_id = credit.id
            LEFT OUTER JOIN Code tariff on cont.tariffIndex_id = tariff.id
        <include refid="base_where_list" />
    </select>

    <select id="getTargetByMeter" resultType="targetByMeterJpo" parameterType="java.lang.String">
        SELECT
            CONT.CONTRACT_NUMBER AS geocode
            , CONT.CURRENTCREDIT AS credit
            , CUST.ADDRESS2 AS address
            , CONT.LASTTOKENDATE AS lastChargeDate
            , CUST.CUSTOMERNO AS customerId
            , CUST.NAME AS customerName
            , CUST.MOBILENUMBER AS mobileNumber
            , STAT.DESCR AS supplyState
            , CONT.CURRENTARREARS AS arrears
            , DEBT.AMOUNT AS debtTotal
        FROM
            CONTRACT CONT
            LEFT OUTER JOIN CUSTOMER CUST ON CONT.CUSTOMER_ID = CUST.ID
            LEFT OUTER JOIN (SELECT CUSTOMER_ID,SUM(DEBT_AMOUNT) AS AMOUNT FROM WS_CMS_DEBTENT WHERE DEBT_STATUS != 'CANCEL' GROUP BY CUSTOMER_ID) DEBT ON CUST.CUSTOMERNO = DEBT.CUSTOMER_ID
            LEFT OUTER JOIN METER METER ON CONT.METER_ID = METER.ID
            LEFT OUTER JOIN MODEM MODEM ON METER.MODEM_ID = MODEM.ID
            LEFT OUTER JOIN MCU MCU ON MODEM.MCU_ID = MCU.ID
            LEFT OUTER JOIN CODE STAT ON CONT.STATUS_ID = STAT.ID
        <include refid="base_where_list" />
    </select>

    <select id="getRegisterInfoByMeter" resultType="registerInfoByMeterJpo" parameterType="java.lang.String">
        SELECT
            METER.MDS_ID AS METERID
            , CUST.NAME AS customerName
            , CUST.MOBILENUMBER AS mobileNumber
        FROM
            CONTRACT CONT
            LEFT OUTER JOIN CUSTOMER CUST ON CONT.CUSTOMER_ID = CUST.ID
            LEFT OUTER JOIN METER METER ON CONT.METER_ID = METER.ID
        <include refid="base_where_list" />
    </select>
</mapper>